/* ========== Basic Code ==========*/
*{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #ffffff;
  }
  .btn{
    padding: 10px 25px;
    border-radius: 100px;
  }
  
 /* ========== Navigation Menu ==========*/
a{
    color: #80cbc4;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover{
    color: #004d40;
    text-decoration: underline;
  }
  .navbar-light .navbar-nav .nav-link{
    padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #0BCEAF;
  }
  
  @media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }

/* ====================== Video Carousel ================*/
 .video-carousel .text-center{
    background-color: #eaecf0d0;
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 30px;
  
  }
  .video-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  .video-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
  }
  
  .video-carousel .owl-dot.active {
    background: #0BCEAF;
  }

  